<div class="taco">
  <div class="taco-title">
  <p>{{this.taco_name}}</p>
  </div>
  {{#if eaten}}
    <div data-id="{{this.id}}" class="taco-button deleteTaco"><div class="icon"><i class="far fa-trash-alt"></i></div></div>
  {{else}}
 {{!--    <form action="taco/create" method="POST">  --}}
      <div data-id="{{this.id}}" class="taco-button eatTaco"><p>EAT</p></div>
    {{!-- </form> --}}
  {{/if}}
</div>